# example .envrc file for local development with postgres running on your host machine
export POSTGRESQL_DB=keycloak
export POSTGRESQL_USER=keycloak
export POSTGRESQL_PASSWORD=localdev
export KEYCLOAK_DB_URL=jdbc:postgresql://host.docker.internal:5432/keycloak
